.datatables-page {
  margin-bottom: 25px;
}

table tr.odd.gradeA {
    background-color: #ddffdd;
}

table tr.even.gradeA {
    background-color: #eeffee;
}

table tr.odd.gradeC {
    background-color: #ddddff;
}

table tr.even.gradeC {
    background-color: #eeeeff;
}

table tr.odd.gradeX {
    background-color: #ffdddd;
}

table tr.even.gradeX {
    background-color: #ffeeee;
}

table tr.odd.gradeU {
    background-color: #ddd;
}

table tr.even.gradeU {
    background-color: #eee;
}

tr.odd {
    background-color: #E2E4FF;
}

tr.even {
    background-color: white;
}

table.dataTable tr.odd td.sorting_1,
table.dataTable tr.even td.sorting_1 {
    background-color: transparent;
}
