{% extends 'FriggFlightBundle::layout.html.twig' %}

{% block content %}
    <p>
        flyapi.no
    </p>
    <p>
        airline: {{ airlineId }}<br>
        airport: {{ airportId }}
    </p>
{% endblock content %}