<ul id="resources">
    <li class="section">
        <p>Welcome to the documentation where you should find the necessary information in order to start building those beautiful, seamless apps with up-to-date flight data, delivered from FlyAPI with a <a href="http://en.wikipedia.org/wiki/Representational_state_transfer#Architectural_constraints">completely RESTful service</a>. Choose between JSONP (recommended), JSON, XML, or even HTML as your preferred datatype. FlyAPI will deliver what you ask of it. You may even run live tests on this page by clicking on <strong>Sandbox</strong> under each action. So say goodbye to <a href="http://www.avinor.no/avinor/trafikk/50_Flydata">Avinors outdated API</a> and save both time and energy with the new and shiny <strong>FlyAPI.no</strong>.</p>
        <p>Please keep in mind that this site is still under development so some things are still subject to change, though the main structure is considered solid. As always, feel free to <a href="">contact us</a> if you have any questions regarding this service or the technology behind it. We do offer high speed, enterprise accounts for a small fee for those interested.</p>
    </li>
</ul>
