<ul id="resources">
    <li class="section">
        <p>Welcome to our documentation sandbox where you should find the necessary information in order to start building those beautiful apps with up-to-date flight data, delivered from us in a completely RESTful data format. Choose between JSON, XML, or even HTML as your datatype. So say goodbye to <a href="http://www.avinor.no/avinor/trafikk/50_Flydata" target="_blank">Avinors' old API</a> and save both time and energy with the modern <strong>FlyAPI.no</strong>.</p>
        <p>Please keep in mind that site is still under development. Although feel free to <a href="">contact us</a> if you have any questions regarding this service or the technology behind it.</p>
    </li>
</ul>
